* {
    margin: 0px;
    padding: 0px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none
}

.text-center {
    width: 200px;
}

.text-center img {
    width: 100%;
}

.mb-2 a {
    text-decoration: none;
}

.nav_wrap {
    display: flex;
    justify-content: space-between;
}

.nav_wrap .d-flex {
    margin-right: 10%;
}

.ment {
    width: 10%;
    margin-left: 10%;
}

#cat {
    width: 200px;
    margin-right: 15%;
}

#login {
    padding-right: 5px;
    margin: 7% -3% 0 5%;
}

#join {
    margin: 7% -3% 0 5%;
}

#logout {
    padding-right: 5px;
    margin: 7% -3% 0 5%;
}

#aaa {
    margin: 7% -3% 0 5%;
}

#search {
    margin: 0 0 10px 5%;
}